@import "../../styles/variables.scss";

.listInput {
  background: transparent;
  border: none;
  padding: 5px;
  width: 100%;

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.listItem {
  font-size: 1.4rem;
}

.listTitle {
  font-size: 2rem;
  font-weight: 600;
}
