@import "../../styles/variables.scss";

.listInput {
  background: transparent;
  border: none;
  padding: 5px;
  width: 100%;

  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.listItem {
  font-size: 1.55rem;

  &.is-completed {
    text-decoration: line-through;
    color: rgba(255, 2552, 255, 0.5);
  }
}

.listTitle {
  font-size: 2rem;
  font-weight: 600;
}

.checkboxLabel {
  display: flex;
  place-items: center;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.customCheckmark:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../../assets/checkbox.svg) center / 1.5rem no-repeat;
}

.checkbox:checked + .customCheckmark:after {
  background: url(../../assets/checkbox-selected.svg) 0.5rem center / 2rem no-repeat;
}
