@import "../../styles/variables.scss";

.listBtn {
  background-color: $buttonBackground;
  text-align: left;
  padding: 10px;
  border: none;
  border-radius: 0;
  width: 100%;

  font-size: 1.6rem;
  font-weight: 600;

  transition: all 0.25s ease;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    color: $gold;
    background-color: $buttonHover;
  }
}

.listRow {
  width: 100%;
  display: flex;
  align-items: stretch;
  column-gap: 0.5rem;
}

.trashIcon {
  height: 1.8rem;
  fill: $lightgrey;
}

.trashBtn {
  display: flex;
  place-items: center;
  border-radius: 0;
  background-color: $appBackground;
  border: none;
  padding: 0.5rem 0.75rem;

  &--listItem {
    background-color: transparent;
  }

  &:hover {
    background: $buttonHover;

    .trashIcon {
      fill: $gold;
    }
  }
}
