@import "../../styles/variables.scss";

.actionBar {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 1rem;
  gap: 0.75rem;
}

.actionBtnGroup {
  display: flex;
  width: 100%;
  justify-content: stretch;
  gap: 0.5rem;
}

.actionBtnWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionBtnTitle {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.2rem;
}

.actionBtnGroup + .actionBtnTitle {
  margin-top: 1rem;
}

.actionBtn {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background: rgb(12, 12, 12);
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  svg {
    width: 100%;
    height: auto;
    color: $lightgrey;
  }
}

.sortBtn {
  width: 100%;
}

.synced {
  svg {
    color: green;
  }
}

.syncing {
  svg {
    color: rgb(202, 202, 202);
    animation: spin 1s ease infinite;
  }
}

.syncError {
  svg {
    color: red;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.actionMenuWrap {
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 15rem;

  background-color: rgb(12, 12, 12);
  padding: 1rem;
}